<h1>Blogs</h1>
<hr>
<div class="row">
  <div class="card" style="width: 90%; margin: 10px auto" *ngFor="let post of (posts | async);">
    <div class="card-body">
      <h5 class="card-title">{{post.author}}</h5>
      <p class="card-text">{{post.date | date}}</p>
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
  <div class="card" style="width: 90%; margin: 10px auto">
    <div class="card-body">
      <h5 class="card-title">Create a new post</h5>
      <input class="form-control mr-sm-2" [(ngModel)]="author" [ngModelOptions]="{standalone: true}"
        placeholder="Author">
      <textarea class="form-control mr-sm-2" [(ngModel)]="content" [ngModelOptions]="{standalone: true}"
        placeholder="Content" style="margin-top: 10px">
      </textarea>
      <a class="btn btn-primary" style="margin: 10px; margin-left: 0" (click)="submit()">Agregar Post</a>
    </div>
  </div>
</div>