<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <label class="col-2 col-form-label">name</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="name"
          formControlName="name"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">developer</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="developer"
          formControlName="developer"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">cover</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="cover"
          formControlName="cover"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">images</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="images"
          formControlName="images"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">links</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="links"
          formControlName="links"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">date</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          placeholder="date"
          formControlName="date"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </div>
    </div>

  </form>
